@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html{
    @apply scroll-smooth
  }
}

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  background-color: #242424;
  --primary: 94, 234, 212;
  --secondary: 163, 163, 163;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@keyframes pulse {
  50% {
    opacity: 0;
  }
}
